.Carousel-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel-main > i {
  cursor: pointer;
  margin: 10px;
  color: #aaa;
}

.Carousel-main > i:hover {
  color: black;
}

/* added here for hidden icon */

.Carousel-main > i.hidden {
  
  pointer-events: none;
  opacity: 0;
  
}